In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Display settings
pd.set_option('display.max_columns', None)

In [ ]:
# Loading the training data
train_df = pd.read_csv('../data/train.csv')

In [7]:
# Quick check on number of rows and columns
print(f"Dataset Shape: {train_df.shape}")

Dataset Shape: (891, 12)

In [8]:
# Display first 5 rows
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
# Get detailed information of the dataset
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
# Statistical Summary of numerical columns
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [11]:
# Count missing values
missing_values = train_df.isnull().sum()
missing_percentage = round((train_df.isnull().sum()/len(train_df)) *100, 2)

missing_df = pd.DataFrame({
    'missing_count': missing_values,
    'percentage' : missing_percentage
})
print("Missing Values Analysis:")
print(missing_df[missing_df['missing_count'] > 0].sort_values('missing_count', ascending=False))

Missing Values Analysis:
          missing_count  percentage
Cabin               687       77.10
Age                 177       19.87
Embarked              2        0.22

In [12]:
# Check Data Types
print('Data Types:')
print(train_df.dtypes)

Data Types:
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [13]:
# Survival Rate
print("Overall Survival Rate:")
print(f"Survived: {train_df['Survived'].sum()} ({train_df['Survived'].mean()*100:.2f}%)")
print(f"Died: {(train_df['Survived']==0).sum()} ({(1-train_df['Survived'].mean())*100:.2f}%)")

Overall Survival Rate:
Survived: 342 (38.38%)
Died: 549 (61.62%)

In [14]:
# Ticket Class Distribution
print("Passenger Ticket Class Distribution:")
print(train_df['Pclass'].value_counts().sort_index())

print("\nSurvival by Ticket Class:")
print(train_df.groupby('Pclass')['Survived'].agg(['count', 'sum', 'mean']))

Passenger Ticket Class Distribution:
Pclass
1    216
2    184
3    491
Name: count, dtype: int64

Survival by Ticket Class:
        count  sum      mean
Pclass
1         216  136  0.629630
2         184   87  0.472826
3         491  119  0.242363

In [15]:
# Gender Analysis
print("Gender Distribution:")
print(train_df['Sex'].value_counts())

print("\nSurvival by Gender:")
print(train_df.groupby('Sex')['Survived'].agg(['count', 'sum', 'mean']))

Gender Distribution:
Sex
male      577
female    314
Name: count, dtype: int64

Survival by Gender:
        count  sum      mean
Sex
female    314  233  0.742038
male      577  109  0.188908

In [16]:
# Embarked Port Analysis
print("Embarkation Port Distribution:")
print(train_df['Embarked'].value_counts())
print("\nSurvival by Embarkation Port:")
print(train_df.groupby('Embarked')['Survived'].agg(['count', 'sum', 'mean']))

Embarkation Port Distribution:
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

Survival by Embarkation Port:
          count  sum      mean
Embarked
C           168   93  0.553571
Q            77   30  0.389610
S           644  217  0.336957

In [17]:
# Age Groups
print("Age Statistics:")
print(f"Youngest passenger: {train_df['Age'].min():.2f} years")
print(f"Oldest passenger: {train_df['Age'].max():.2f} years")
print(f"Average age: {train_df['Age'].mean():.2f} years")
print(f"Median age: {train_df['Age'].median():.2f} years")

Age Statistics:
Youngest passenger: 0.42 years
Oldest passenger: 80.00 years
Average age: 29.70 years
Median age: 28.00 years